<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/static/css/simple.css"/>
  </head>
  <body>
    <div id="page">
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <nav>
      <ul>
        <li><a href="{{ site.url }}">Alkuun</a></li>
      </ul>
    </nav>
    <section id="content">
      <aside class="meta validity{% if page.quality %} quality-{{ page.quality }}{% endif %}">
        {% if page.approved_by %}
        <p>
        Hyväksynyt {{ page.approved_by }} {{ page.approved_at|date:"%d.%m.%Y" }}
        </p>
        {% endif %}

        {% if page.quality %}<p>Ajantasaisuus: {{ page.quality }}</p>{% endif %}
        
        {% if page.valid_after %}
          Voimassa alkaen: {{ page.valid_after|date:"%d.%m.%Y" }}.
        {% endif %}
        {% if page.valid_until %}
          Ohjelman voimassaoloaika päättyy: {{ page.valid_until|date:"%d.%m.%Y" }}.
        {% elsif page.year %}
          {% capture years_since %}{{ site.time |date:"%Y" | minus:page.year }}{% endcapture %}
          {% assign years_since_int = years_since|ceil %}
          {% if years_since_int > 12 %}
            <p class="note error">Ohjelma on vuodelta {{ page.year }} eikä sen katsota enää olevan voimassa.</p>
          {% elsif years_since_int > 4 %}
            <p class="note warning">Ohjelma on vuodelta {{ page.year }} ja voi sisältää vanhentunutta tietoa.</p>
          {% endif %}
        {% endif %}
      </aside>
    {{ content }}
      <aside class="meta">
        {% if page.original_url %}
          <p>Alkuperäinen sivu: <a href="{{ page.original_url }}">{{ page.original_url }}</a></p>
        {% endif %}
        {% if page.ref %}
        <p>Viittaustiedot: {{ page.ref }}</p>
        {% endif %}
      </aside>
    </section>
    <footer>
      <p><a href="{{ site.github.repository_url }}">GitHub</a></p>
    </footer>
    </div>
    <script src="/static/js/prog.js"></script>
  </body>
</html>
